---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>

  <link rel="stylesheet" href="assets/css/index.css" />
</head>
<body>
  {% include nav.html %}

  <div id="header">
    <div id="header-copy">
      <h1>The weekly newsletter for all things tech hiring</h1>

      <p>Tech interviews are hard, whether you're hiring or looking to be hired. Poor interview practices mean the right candidates are not being matched with the right companies. In this weekly newsletter, I'll send you advice on how to prepare for an interview, as a candidate or as an interviewer.</p>
    </div>

    {% include subscribe-form.html %}
  </div>

  <h2 id="role-boxes-header">Hiring advice no matter who you are</h2>

  <div class="role-box" id="role-box-candidate">
    <img src="assets/images/role-candidate.png" alt="A developer in front of a laptop" width="200" height="200" />

    <h3>I want to be hired</h3>

    <ul>
      <li>Sample interview problems</li>
      <li>What interviewers are looking for in candidates</li>
      <li>Preparation tips</li>
    </ul>

    <a class="subscribe-form-link" href="#subscribe-form">Subscribe</a>
  </div>

  <div class="role-box" id="role-box-interviewer">
    <img src="assets/images/role-interviewer.png" alt="A pile of resumes" width="200" height="200" />

    <h3>I interview candidates</h3>

    <ul>
      <li>Evaluating candidates fairly</li>
      <li>Setting candidates up for success</li>
      <li>Avoiding bias</li>
    </ul>

    <a class="subscribe-form-link" href="#subscribe-form">Subscribe</a>
  </div>

  <div class="role-box" id="role-box-hiring-manager">
    <img src="assets/images/role-hiring-manager.png" alt="A meet our team page" width="200" height="200" />

    <h3>I'm building a team</h3>

    <ul>
      <li>Finding the right candidates</li>
      <li>Standardizing on a hiring process</li>
      <li>Training your interviewers</li>
    </ul>

    <a class="subscribe-form-link" href="#subscribe-form">Subscribe</a>
  </div>

  <div id="about-me">
    <img src="assets/images/headshot.jpg" alt="Headshot" width="200" height="200" />

    <div>
      <p>I'm Avik Das, a software engineer who's been on both sides of the hiring table. With my 10+ years of industry experience, at both small and large companies, as a member of a large organization and a founder of a small startup, I know what it takes to get hired and how to hire.</p>

      <ul id="me-social-media-links">
        <li><a href="{{ site.author.website }}"><img src="assets/images/logo-website.png" alt="Website" width="24" height="24" /></a></li>
        <li><a href="{{ site.author.linkedin }}"><img src="assets/images/logo-linkedin.png" alt="LinkedIn" width="24" height="24" /></a></li>
        <li><a href="{{ site.author.twitter }}"><img src="assets/images/logo-twitter.png" alt="Twitter" width="24" height="24" /></a></li>
      </ul>
    </div>
  </div>

  <div id="alternative-sources">
    <p>I recommend signing up by email because that lets you respond privately to any of the editions just by replying. But if you don't want to sign up, or you want to comment publicly, you have options.</p>

    <ul>
      <li><img src="assets/images/logo-linkedin.png" alt="" width="24" height="24" />Subscribe to the <a href="https://www.linkedin.com/pulse/whats-wrong-tech-hiring-avik-das">newsletter on Linkedin</a>, and you can comment on and share editions with your network.</li>
      <li><img src="assets/images/logo-rss.png" alt="" width="24" height="24" />Subscribe to <a href="/feed.xml">the official RSS feed</a>. You'll have to reach me through other means.</li>
      <li><img src="assets/images/logo-twitter.png" alt="" width="24" height="24" /><a href="{{ site.author.twitter }}">Follow me on Twitter.</a> I tweet about more than my newsletter, but I do share every edition with my followers.</li>
    </ul>
  </div>

  <p id="footer">&copy; Avik Das, 2020. Illustrations by <a href="https://undraw.co/">Undraw</a></p>

  {% include analytics.html %}
</body>
</html>
